body{

font-family:tahoma;
background:#f1f5f9;
margin:0;
padding:20px;

}


header{

background:#12355b;
color:white;
padding:20px;
border-radius:20px;
text-align:center;

}



.container{

max-width:500px;
margin:auto;

}



.card{

background:white;
padding:20px;
margin:20px 0;
border-radius:20px;
box-shadow:0 5px 15px #ccc;

}



input{

width:100%;
padding:12px;
margin:8px 0;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;

}



button{

width:100%;
padding:13px;
background:#12355b;
color:white;
border:0;
border-radius:10px;
font-size:16px;

}



.result{

margin-top:15px;
background:#e6f0ff;
padding:15px;
border-radius:10px;
font-weight:bold;
color:#12355b;

}
